@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--teal-100: 178.6, 84.31%, 10%;
	--teal-600: 173.41, 80.39%, 40%;
	--teal-700: 172.46, 66.01%, 50.39%;
	--teal-900: 168.39, 83.78%, 78.24%;
	font-family: 'Montserrat', sans-serif;

	color: rgba(255, 255, 255, 0.87);
	background-color: #141727;
}

body {
	margin: 0;
	padding: 0;

	min-height: 100vh;
}

@layer utilities {
	::selection {
		background-color: hsl(var(--teal-100)) !important;
		color: hsl(var(--teal-700)) !important;
	}
}
